.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ================ */
@media screen and (max-width: 1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* =============== MEDIA QUERIES (LARGE DEVICES) ================ */

@media screen and (min-width: 3000px) {
    .section > h5 , h2{
        font-size: 38px;
    }

    .portfolio__item > h3 {
        font-size: 35px;
    }

    .btn {
        font-size: 32px;
    }
}

@media screen and (min-width: 2200px) {
    .section > h5 , h2{
        font-size: 30px;
    }

    .portfolio__item > h3 {
        font-size: 27px;
    }

    .btn {
        font-size: 25px;
    }
}

@media screen and (min-width: 1800px) {
    .section > h5 , h2{
        font-size: 25px;
    }

    .portfolio__item > h3 {
        font-size: 22px;
    }

    .btn {
        font-size: 18px;
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) ================ */
@media screen and (max-width: 600px) {
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}

@media screen and (max-width: 320px) {

    .portfolio__item{
        padding: 0.6rem;
    }
}